.app {
  height: 100vh;
  color: #FFF;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.app .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
}

.app .wrapper .quote-box {
  width: 100%;
  padding: 40px 50px;
  background-color: #FFF;
  border-radius: 5px;
}

.app .wrapper .quote-box .quote-text {
  font-size: 1.5em;
  font-weight: 500;
}

.app .wrapper .quote-box .quote-from {
  text-align: right;
  padding: 20px 0 30px 0;
}

.app .wrapper .quote-box button {
  color: #FFF;
  width: 250px;
  height: 36px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.app .wrapper .quote-box button:focus {
  outline: none;
}

.app .wrapper .quote-box button:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 0 10px 1px #ccc;
}

.app .wrapper .footer {
  font-size: 12px;
  margin-top: 20px;
}

.app .wrapper .footer a {
  color: #FFF;
  text-decoration: none;
}
